<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="    
    http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
    http://www.springframework.org/schema/context                http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
    <!-- 以下为被依赖的bean -->
	<bean id="beanToBeInject0" class="cn.java.demo.contexttag.bean.BeanToBeInject">
    	<constructor-arg index="0" type="java.lang.Integer" name="beanId"  value="0"/>
    	<constructor-arg index="1" type="java.lang.String"  name="beanName"  value="beanName0"/>
    </bean>
	<bean id="beanToBeInject1" class="cn.java.demo.contexttag.bean.BeanToBeInject">
    	<constructor-arg index="0" type="java.lang.Integer" name="beanId"  value="1"/>
    	<constructor-arg index="1" type="java.lang.String"  name="beanName"  value="beanName1"/>
    </bean>
	<bean id="beanToBeInject2" class="cn.java.demo.contexttag.bean.BeanToBeInject">
    	<constructor-arg index="0" type="java.lang.Integer" name="beanId"  value="2"/>
    	<constructor-arg index="1" type="java.lang.String"  name="beanName"  value="beanName2"/>
    </bean>
	<bean id="beanToBeInject3" class="cn.java.demo.contexttag.bean.BeanToBeInject">
    	<constructor-arg index="0" type="java.lang.Integer" name="beanId"  value="3"/>
    	<constructor-arg index="1" type="java.lang.String"  name="beanName"  value="beanName3"/>
    </bean>
     
     <!-- resource-pattern不是正则表达式 -->
    <context:component-scan 
        annotation-config="true"
        use-default-filters="true" 
        resource-pattern="*Component.class"
        base-package="cn.java.demo.contexttag.bean,cn.java.demo.contexttag.component.impl"
        scope-resolver="org.springframework.context.annotation.AnnotationScopeMetadataResolver"
        name-generator="org.springframework.context.annotation.AnnotationBeanNameGenerator"><!-- 扫描器配置，在context命名空间识别的时候就执行 -->
        
        <!-- 过滤机制是：指定类的特征在“exclude-filter”中不能存在一项并且在“include-filter”中至少有一项匹配 -->
        
        <!-- 过滤器 - 包含过滤(只要符合其中一个就会被收录)-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" /><!-- 包含@Component注解 -->
        <context:include-filter type="assignable" expression="cn.java.demo.contexttag.component.api.FooComponent" /> <!-- 实现此接口 -->
        <!-- <context:include-filter type="aspectj" expression="..." /> --> <!-- "类名"符合这个条件 -->
        <context:include-filter type="regex" expression="[A-Z][a-z0-9A-Z]*Component" /> <!-- "类名"符合这个正则表达式 -->
        <context:include-filter type="custom" expression="cn.java.demo.contexttag.filter.FooIncludeTypeFilter" />  <!-- 自定义过滤器 -->
        
        <!-- 过滤器 - 不包含过滤(只要符合其中一个就会被排除) -->
        <context:exclude-filter type="custom" expression="cn.java.demo.contexttag.filter.FooExcludeTypeFilter" />  <!-- 自定义过滤器 -->
    </context:component-scan>
</beans>  