/dubboDebug/bin
/JavaBase/bin
/MybatisDebug/bin
/slf4jDebug/bin
/velocityDebug/bin
/commonsloggingDebug/bin
/springFrameworkDebug/bin
/JFinalDemo/WebRoot/WEB-INF/classes
/ServletCms/WebRoot/WEB-INF/classes
/tomcat8.xDebug/bin
