<web-app version="3.1" > <!-- org.apache.tomcat.util.descriptor.web.WebXml -->
	<absolute-ordering>
		<name></name>
		<others></others>
	</absolute-ordering>
	<ordering></ordering>
	<context-param>
		<param-name>param1</param-name>
		<param-value>param1Value</param-value>
	</context-param>
	<context-param>
		<param-name>param2</param-name>
		<param-value>param2Value</param-value>
	</context-param>
	<display-name>hello</display-name>
	<distributable></distributable>
	<!-- ---------------------------------- -->
	<ejb-local-ref>
		<description></description>
		<ejb-link></ejb-link>
		<ejb-ref-name></ejb-ref-name>
		<ejb-ref-type></ejb-ref-type>
		<local></local>
		<local-home></local-home>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</ejb-local-ref>
	<ejb-local-ref>
		<description></description>
		<ejb-link></ejb-link>
		<ejb-ref-name></ejb-ref-name>
		<ejb-ref-type></ejb-ref-type>
		<local></local>
		<local-home></local-home>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</ejb-local-ref>
	<ejb-ref>
		<description></description>
		<ejb-link></ejb-link>
		<ejb-ref-name></ejb-ref-name>
		<ejb-ref-type></ejb-ref-type>
		<home></home>
		<remote></remote>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</ejb-ref>
	<ejb-ref>
		<description></description>
		<ejb-link></ejb-link>
		<ejb-ref-name></ejb-ref-name>
		<ejb-ref-type></ejb-ref-type>
		<home></home>
		<remote></remote>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</ejb-ref>
	<ejb-ref>
		<description></description>
		<ejb-link></ejb-link>
		<ejb-ref-name></ejb-ref-name>
		<ejb-ref-type></ejb-ref-type>
		<home></home>
		<remote></remote>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</ejb-ref>
	<env-entry>
		<description></description>
		<env-entry-name></env-entry-name>
		<env-entry-type></env-entry-type>
		<env-entry-value></env-entry-value>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</env-entry>
	<env-entry>
		<description></description>
		<env-entry-name></env-entry-name>
		<env-entry-type></env-entry-type>
		<env-entry-value></env-entry-value>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</env-entry>
	<resource-env-ref>
		<resource-env-ref-name></resource-env-ref-name>
		<resource-env-ref-type></resource-env-ref-type>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</resource-env-ref>
	<resource-env-ref>
		<resource-env-ref-name></resource-env-ref-name>
		<resource-env-ref-type></resource-env-ref-type>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</resource-env-ref>
	<message-destination>
		<description></description>
		<display-name></display-name>
		<icon>
			<large-icon></large-icon>
			<small-icon></small-icon>
		</icon>
		<message-destination-name></message-destination-name>
	</message-destination>
	<message-destination>
		<description></description>
		<display-name></display-name>
		<icon>
			<large-icon></large-icon>
			<small-icon></small-icon>
		</icon>
		<message-destination-name></message-destination-name>
	</message-destination>
	<message-destination-ref>
		<description></description>
		<message-destination-link></message-destination-link>
		<message-destination-ref-name></message-destination-ref-name>
		<message-destination-type></message-destination-type>
		<message-destination-usage></message-destination-usage>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</message-destination-ref>
	<message-destination-ref>
		<description></description>
		<message-destination-link></message-destination-link>
		<message-destination-ref-name></message-destination-ref-name>
		<message-destination-type></message-destination-type>
		<message-destination-usage></message-destination-usage>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</message-destination-ref>
	<resource-ref>
		<description></description>
		<res-auth></res-auth>
		<res-ref-name></res-ref-name>
		<res-sharing-scope></res-sharing-scope>
		<res-type></res-type>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</resource-ref>
	<resource-ref>
		<description></description>
		<res-auth></res-auth>
		<res-ref-name></res-ref-name>
		<res-sharing-scope></res-sharing-scope>
		<res-type></res-type>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</resource-ref>
	<service-ref>
		<description></description>
		<display-name></display-name>
		<icon>
			<large-icon></large-icon>
			<small-icon></small-icon>
		</icon>
		<service-ref-name></service-ref-name>
		<service-interface></service-interface>
		<service-ref-type></service-ref-type>
		<wsdl-file></wsdl-file>
		<jaxrpc-mapping-file></jaxrpc-mapping-file>
		<service-qname></service-qname>
		<port-component-ref>
			<service-endpoint-interface></service-endpoint-interface>
			<port-component-link></port-component-link>
		</port-component-ref>
		<port-component-ref>
			<service-endpoint-interface></service-endpoint-interface>
			<port-component-link></port-component-link>
		</port-component-ref>
		<handler>
			<handler-name></handler-name>
			<handler-class></handler-class>
			<init-param>
				<param-name>param1</param-name>
				<param-value>param1Value</param-value>
			</init-param>
			<soap-header></soap-header>
			<soap-role></soap-role>
			<port-name></port-name>
		</handler>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</service-ref>
	<service-ref>
		<description></description>
		<display-name></display-name>
		<icon>
			<large-icon></large-icon>
			<small-icon></small-icon>
		</icon>
		<service-ref-name></service-ref-name>
		<service-interface></service-interface>
		<service-ref-type></service-ref-type>
		<wsdl-file></wsdl-file>
		<jaxrpc-mapping-file></jaxrpc-mapping-file>
		<service-qname></service-qname>
		<port-component-ref>
			<service-endpoint-interface></service-endpoint-interface>
			<port-component-link></port-component-link>
		</port-component-ref>
		<port-component-ref>
			<service-endpoint-interface></service-endpoint-interface>
			<port-component-link></port-component-link>
		</port-component-ref>
		<handler>
			<handler-name></handler-name>
			<handler-class></handler-class>
			<init-param>
				<param-name>param1</param-name>
				<param-value>param1Value</param-value>
			</init-param>
			<soap-header></soap-header>
			<soap-role></soap-role>
			<port-name></port-name>
		</handler>
		<mapped-name></mapped-name>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
		<injection-target>
			<injection-target-class></injection-target-class>
			<injection-target-name></injection-target-name>
		</injection-target>
	</service-ref>
	<!-- ---------------------------------- -->
	<error-page>
		<error-code></error-code>
		<exception-type></exception-type>
		<location></location>
	</error-page>
	<filter> <!-- org.apache.tomcat.util.descriptor.web.FilterDef / WebXml.addFilter / StandardContext.addFilterDef -->
		<description>filter1</description>
		<display-name></display-name>
		<filter-class></filter-class>
		<filter-name></filter-name>
		<icon>
			<large-icon></large-icon>
			<small-icon></small-icon>
		</icon>
		<async-supported></async-supported>
		<init-param>
			<param-name>param1</param-name>
			<param-value>param1Value</param-value>
		</init-param>
		<init-param>
			<param-name>param2</param-name>
			<param-value>param2Value</param-value>
		</init-param>
	</filter>
	<filter>
		<description>filter2</description>
		<display-name></display-name>
		<filter-class></filter-class>
		<filter-name></filter-name>
		<icon>
			<large-icon></large-icon>
			<small-icon></small-icon>
		</icon>
		<async-supported></async-supported>
		<init-param>
			<param-name>param1</param-name>
			<param-value>param1Value</param-value>
		</init-param>
		<init-param>
			<param-name>param2</param-name>
			<param-value>param2Value</param-value>
		</init-param>
	</filter>
	<filter-mapping> <!-- org.apache.tomcat.util.descriptor.web.FilterMap / WebXml.addFilterMapping / StandardContext.addFilterMap -->
		<filter-name>filter-name-1</filter-name>
		<servlet-name></servlet-name>
		<servlet-name></servlet-name>
		<url-pattern></url-pattern>
		<url-pattern></url-pattern>
		<dispatcher></dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filter-name-2</filter-name>
		<servlet-name></servlet-name>
		<servlet-name></servlet-name>
		<url-pattern></url-pattern>
		<url-pattern></url-pattern>
		<dispatcher></dispatcher>
	</filter-mapping>
	<listener>  <!-- WebXml.addListener / ServletContext.addApplicationListener -->
		<listener-class></listener-class>
		<listener-class></listener-class>
	</listener>
	<jsp-config>
		 <jsp-property-group> <!-- org.apache.tomcat.util.descriptor.web.JspPropertyGroup / WebXml.addJspPropertyGroup -->
			<deferred-syntax-allowed-as-literal></deferred-syntax-allowed-as-literal>
			<el-ignored></el-ignored>
			<include-coda></include-coda>
			<include-coda></include-coda>
			<include-prelude></include-prelude>
			<include-prelude></include-prelude>
			<is-xml></is-xml>
			<page-encoding></page-encoding>
			<scripting-invalid></scripting-invalid>
			<trim-directive-whitespaces></trim-directive-whitespaces>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<default-content-type></default-content-type>
			<buffer></buffer>
			<error-on-undeclared-namespace></error-on-undeclared-namespace>
		</jsp-property-group>
		<jsp-property-group>
			<deferred-syntax-allowed-as-literal></deferred-syntax-allowed-as-literal>
			<el-ignored></el-ignored>
			<include-coda></include-coda>
			<include-coda></include-coda>
			<include-prelude></include-prelude>
			<include-prelude></include-prelude>
			<is-xml></is-xml>
			<page-encoding></page-encoding>
			<scripting-invalid></scripting-invalid>
			<trim-directive-whitespaces></trim-directive-whitespaces>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<default-content-type></default-content-type>
			<buffer></buffer>
			<error-on-undeclared-namespace></error-on-undeclared-namespace>
		</jsp-property-group>
	</jsp-config>
	<login-config> <!-- org.apache.tomcat.util.descriptor.web.LoginConfig -->
		<auth-method></auth-method>
		<realm-name></realm-name>
		<form-login-config>
			<form-error-page></form-error-page>
			<form-login-page></form-login-page>
		</form-login-config>
	</login-config>
	<mime-mapping></mime-mapping>
	<mime-mapping></mime-mapping>
	<security-constraint> <!-- org.apache.tomcat.util.descriptor.web.SecurityConstraint / WebXml.addSecurityConstraint -->
		<auth-constraint>
			<role-name></role-name>
			<role-name></role-name>
		</auth-constraint>
		<display-name></display-name>
		<user-data-constraint>
			<transport-guarantee></transport-guarantee>
		</user-data-constraint>
		<web-resource-collection>
			<http-method></http-method>
			<http-method></http-method>
			<http-method-omission></http-method-omission>
			<http-method-omission></http-method-omission>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<web-resource-name></web-resource-name>
		</web-resource-collection>
		<web-resource-collection>
			<http-method></http-method>
			<http-method></http-method>
			<http-method-omission></http-method-omission>
			<http-method-omission></http-method-omission>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<web-resource-name></web-resource-name>
		</web-resource-collection>
	</security-constraint>
	<security-constraint>
		<auth-constraint>
			<role-name></role-name>
			<role-name></role-name>
		</auth-constraint>
		<display-name></display-name>
		<user-data-constraint>
			<transport-guarantee></transport-guarantee>
		</user-data-constraint>
		<web-resource-collection>
			<http-method></http-method>
			<http-method></http-method>
			<http-method-omission></http-method-omission>
			<http-method-omission></http-method-omission>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<web-resource-name></web-resource-name>
		</web-resource-collection>
		<web-resource-collection>
			<http-method></http-method>
			<http-method></http-method>
			<http-method-omission></http-method-omission>
			<http-method-omission></http-method-omission>
			<url-pattern></url-pattern>
			<url-pattern></url-pattern>
			<web-resource-name></web-resource-name>
		</web-resource-collection>
	</security-constraint>
	<security-role>
		<role-name></role-name>
		<role-name></role-name>
	</security-role>
	<servlet> <!--  WebXml.addServlet(org.apache.tomcat.util.descriptor.web.ServletDef) / StandardContext.addChild(org.apache.catalina.core.StandardWrapper) -->
		<init-param>
			<param-name></param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name></param-name>
			<param-value></param-value>
		</init-param>
		<jsp-file></jsp-file>
		<load-on-startup>1</load-on-startup> <!-- 是否在启动上下文的时候，就启动本Servlet，填写的是数字，决定着启动顺序 -->
		<run-as>
			<role-name></role-name>
		</run-as>
		<security-role-ref> <!-- org.apache.tomcat.util.descriptor.web.SecurityRoleRef / WebXml.addSecurityRoleRef -->
			<role-link></role-link>
			<role-name></role-name>
		</security-role-ref>
		<security-role-ref>
			<role-link></role-link>
			<role-name></role-name>
		</security-role-ref>
		<servlet-class></servlet-class>
		<servlet-name></servlet-name>
		<multipart-config> <!-- org.apache.tomcat.util.descriptor.web.MultipartDef / WebXml.setMultipartDef-->
			<location></location>
			<max-file-size></max-file-size>
			<max-request-size></max-request-size>
			<file-size-threshold></file-size-threshold>
		</multipart-config>
		<async-supported></async-supported>
		<enabled></enabled>
	</servlet>
	<servlet>
		<init-param>
			<param-name></param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name></param-name>
			<param-value></param-value>
		</init-param>
		<jsp-file></jsp-file>
		<load-on-startup></load-on-startup>
		<run-as>
			<role-name></role-name>
		</run-as>
		<security-role-ref>
			<role-link></role-link>
			<role-name></role-name>
		</security-role-ref>
		<security-role-ref>
			<role-link></role-link>
			<role-name></role-name>
		</security-role-ref>
		<servlet-class></servlet-class>
		<servlet-name></servlet-name>
		<!-- 文件上传 -->
		<multipart-config>
			<location></location>
			<!-- 50MB max -->
			<max-file-size>52428800</max-file-size>
			<max-request-size>52428800</max-request-size>
			<file-size-threshold></file-size-threshold>
		</multipart-config>
		<async-supported></async-supported>
		<enabled></enabled>
	</servlet>
	<servlet-mapping> <!-- WebXml.addServletMapping / StandardContext.addServletMapping -->
		<servlet-name></servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name></servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<session-config> <!-- org.apache.tomcat.util.descriptor.web.SessionConfig / WebXml.setSessionConfig -->
		<session-timeout></session-timeout>
		<cookie-config>
			<name></name>
			<domain></domain>
			<path></path>
			<comment></comment>
			<http-only></http-only>
			<secure></secure>
			<max-age></max-age>
			<tracking-mode></tracking-mode>
			<tracking-mode></tracking-mode>
		</cookie-config>
	</session-config>
	<!-- Servlet 2.4 之前的写法 bof-->
	<taglib>
		<taglib-location></taglib-location>
		<taglib-uri></taglib-uri>
	</taglib>
	<taglib>
		<taglib-location></taglib-location>
		<taglib-uri></taglib-uri>
	</taglib>
	<!-- Servlet 2.4 之前的写法 eof-->
	<!-- Servlet 2.4 之后的写法 bof-->
	<jsp-config>
		<taglib>
			<taglib-location></taglib-location>
			<taglib-uri></taglib-uri>
		</taglib>
		<taglib>
			<taglib-location></taglib-location>
			<taglib-uri></taglib-uri>
		</taglib>
	</jsp-config>
	<!-- Servlet 2.4 之后的写法 3of-->
	<welcome-file-list>
		<welcome-file></welcome-file>
		<welcome-file></welcome-file>
	</welcome-file-list>
	<locale-encoding-mapping-list>
		<locale-encoding-mapping>
			<locale></locale>
			<encoding></encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale></locale>
			<encoding></encoding>
		</locale-encoding-mapping>
	</locale-encoding-mapping-list>
	<post-construct>
		<lifecycle-callback-class></lifecycle-callback-class>
		<lifecycle-callback-method></lifecycle-callback-method>
	</post-construct>
	<post-construct>
		<lifecycle-callback-class></lifecycle-callback-class>
		<lifecycle-callback-method></lifecycle-callback-method>
	</post-construct>
	<pre-destroy>
		<lifecycle-callback-class></lifecycle-callback-class>
		<lifecycle-callback-method></lifecycle-callback-method>
	</pre-destroy>
	<pre-destroy>
		<lifecycle-callback-class></lifecycle-callback-class>
		<lifecycle-callback-method></lifecycle-callback-method>
	</pre-destroy>
</web-app>