<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
        
    	<!--  .....  以下为默认的配置 .....  -->
    	<!-- multipartResolver -->
        <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />
        <!-- LocaleResolver -->
        <bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />
        <!-- ThemeResolver -->
        <bean id="themeResolver" class="org.springframework.web.servlet.theme.FixedThemeResolver" />
        <!-- HandlerMapping -->
        <bean id="handlerMapping0" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
        <bean id="handlerMapping1" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
        <!-- HandlerAdapter -->
        <bean id="handlerAdapter0" class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />
        <bean id="handlerAdapter1" class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
        <bean id="handlerAdapter2" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
        <!-- HandlerExceptionResolver -->
        <bean id="handlerExceptionResolver0" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver" />
        <bean id="handlerExceptionResolver1" class="org.springframework.web.servlet.mvc.annotation.ResponseStatusExceptionResolver" />
        <bean id="handlerExceptionResolver2" class="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver" />
        <!-- viewNameTranslator -->
        <bean id="viewNameTranslator" class="org.springframework.web.servlet.view.DefaultRequestToViewNameTranslator" />
        <!-- viewResolver -->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" />
        <!-- flashMapManager -->
        <bean id="flashMapManager" class="org.springframework.web.servlet.support.SessionFlashMapManager" />
        
	
</beans>