<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
	xsi:schemaLocation="    
    http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context                http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/data/cassandra		http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.5.xsd">
    
    <context:property-placeholder location="classpath:/cn/java/demo/data_cassandra/cassandra.properties" />
    
    <!-- REQUIRED: The Cassandra Cluster -->
    <cassandra:cluster contact-points="${cassandra.contactpoints}" port="${cassandra.port}" />
    
    <!-- REQUIRED: The Cassandra Session, built from the Cluster, and attaching to a keyspace -->
    <cassandra:session keyspace-name="${cassandra.keyspace}" />
    
    <!-- REQUIRED: The Default Cassandra Mapping Context used by CassandraConverter -->
	<cassandra:mapping>
	  <cassandra:user-type-resolver keyspace-name="${cassandra.keyspace}" />
	</cassandra:mapping>
	
	<!-- REQUIRED: The Default Cassandra Converter used by CassandraTemplate -->
	<cassandra:converter />
	
	<!-- REQUIRED: The Cassandra Template is the building block of all Spring Data Cassandra -->
	<cassandra:template id="cassandraTemplate" />
	
	<!-- OPTIONAL: If you are using Spring Data for Apache Cassandra Repositories, add your base packages to scan here -->
	<cassandra:repositories base-package="cn.java.demo.data_cassandra.repository" />
</beans>  