<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 读取配置文件、替换bean中的占位符 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
    	<property name="locations" value="classpath:/cn/java/demo/orm_hibernate4/jdbc.properties"/>
    </bean>
    
	<!-- 配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        
        <property name="initialPoolSize" value="${jdbc.c3p0.initialPoolSize}" />
        <property name="minPoolSize" value="${jdbc.c3p0.minPoolSize}" />
        <property name="maxPoolSize" value="${jdbc.c3p0.maxPoolSize}" />
        <property name="maxIdleTime" value="${jdbc.c3p0.maxIdleTime}" />
        
        <property name="testConnectionOnCheckout" value="${jdbc.c3p0.testConnectionOnCheckout}" />
        <property name="testConnectionOnCheckin" value="${jdbc.c3p0.testConnectionOnCheckin}" />
        <property name="idleConnectionTestPeriod" value="${jdbc.c3p0.idleConnectionTestPeriod}" />
     </bean>
     
     <!-- session工厂 -->
     <bean id="hibernate4SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 
        <property name="packagesToScan">
            <list>
                <value>cn.java.demo.orm_hibernate4.entity</value>
            </list>
        </property>
        <property name="mappingResources">
            <list>
                <value>/cn/java/demo/orm_hibernate4/entity/User.hbm.xml</value>
            </list>
        </property> 
        -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
            </props>
        </property>
    </bean>
	
	<!-- 事务管理器 -->
	<bean id="hibernate4TransactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       <property name="sessionFactory" ref="hibernate4SessionFactory" />
       <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 模型Bean -->
	<bean id="fooDao" class="cn.java.demo.orm_hibernate4.dao.impl.FooDaoImpl" autowire="byName">
		 <property name="hibernate4SessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<!-- 业务Bean -->
	<bean id="fooService" class="cn.java.demo.orm_hibernate4.service.impl.FooServiceImpl" autowire="byName">
		 <property name="fooDao" ref="fooDao" />
	</bean>
</beans>  