<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="    
    http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
    http://www.springframework.org/schema/jms	http://www.springframework.org/schema/jms/spring-jms-4.2.xsd">
	
	<!-- 连接工厂 -->
	<bean id="cachingConnectionFactory0" class="org.springframework.jms.connection.CachingConnectionFactory">
   		<property name="pubSubMode" value="FALSE" /><!-- false表示队列模式，true表示订阅模式，不设置表示其他 -->
   		<property name="targetConnectionFactory">
   			<bean class="org.apache.activemq.spring.ActiveMQConnectionFactory">
   				<property name="brokerURL" value="tcp://localhost:61616" />
   				<property name="userName" value="userName0" />
   				<property name="password" value="password0" />
   			</bean>
   		</property>
    </bean>
	<!-- 连接工厂 -->
	<bean id="cachingConnectionFactory1" class="org.springframework.jms.connection.CachingConnectionFactory">
   		<property name="pubSubMode" value="TRUE" /><!-- false表示队列模式，true表示订阅模式，不设置表示其他 -->
   		<property name="targetConnectionFactory">
   			<bean class="org.apache.activemq.spring.ActiveMQConnectionFactory">
   				<property name="brokerURL" value="tcp://localhost:61616" />
   				<property name="userName" value="userName0" />
   				<property name="password" value="password0" />
   			</bean>
   		</property>
    </bean>
    <!-- 消息转换器 -->
    <bean id="simpleMessageConverter0" class="org.springframework.jms.support.converter.SimpleMessageConverter" />
    <!-- 默认目标 -->
    <bean id="defaultQuqueName0" class="org.apache.activemq.command.ActiveMQQueue">
  		<constructor-arg index="0" value="defaultQuqueName" />
	</bean>
    <bean id="defaultTopicName0" class="org.apache.activemq.command.ActiveMQTopic">
  		<constructor-arg index="0" value="defaultTopicName" />
	</bean>
	<!-- *********生产者*********配置消息模板，在代码中硬编码调用发送消息********************* -->
    <bean id="queueTemplate" class="org.springframework.jms.core.JmsTemplate"><!-- 队列模式 -->
    	<property name="defaultDestination" ref="defaultQuqueName0" /><!-- 如果发送的时候不指定队列，那么使用这个队列 -->
    	<property name="messageConverter" ref="simpleMessageConverter0" /><!-- 消息转换器 -->
        <property name="connectionFactory" ref="cachingConnectionFactory0" /><!-- 发送到哪里（在此连接的是ActiveMQ） -->
    </bean>
    <bean id="topicTemplate" class="org.springframework.jms.core.JmsTemplate"><!-- 订阅模式 -->
    	<property name="defaultDestination" ref="defaultTopicName0" /><!-- 如果发送的时候不指定队列，那么使用这个队列 -->
    	<property name="messageConverter" ref="simpleMessageConverter0" /><!-- 消息转换器 -->
        <property name="connectionFactory" ref="cachingConnectionFactory1" /><!-- 发送到哪里（在此连接的是ActiveMQ） -->
    </bean>
	
	<!-- *********消费者*********使用xml配置，使用aop劫持机制********************* -->
	<!-- 用途：aop机制劫持EmailService.sendMail(...)的调用，变成发送消息到defaultQuqueName0队列 -->
	<!-- （劫持谁+发送给谁）**********bof*** -->
	<bean id="queueConsumer" class="cn.java.demo.jmstag.byxml.consumer.QueueConsumer" />
	<jms:listener-container destination-type="queue" response-destination-type="queue" message-converter="simpleMessageConverter0" 
		connection-factory="cachingConnectionFactory0">
		<jms:listener ref="queueConsumer" method="consumerDefaultQueue" destination="defaultQuqueName0" />
		<jms:listener ref="queueConsumer" method="consumerEmailQueue" destination="EmailQuqueName0" />
	</jms:listener-container>
	<!-- 使用xml配置，（劫持谁+发送给谁）**********bof*** -->
	
	<!-- *********消费者*******使用注解配置，使用aop劫持机制********************* -->
	<!-- 使用注解配置,自动扫描 @JmsListener 或者 @JmsListeners 注解 -->
	<jms:annotation-driven registry="endpointRegistry0" />
</beans>  