<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
        
        <bean id="helloServiceImpl1" class="cn.java.test.aop.beans.HelloServiceImpl1" />
        <bean id="helloServiceImpl2" class="cn.java.test.aop.beans.HelloServiceImpl2" />
        <bean id="aspect4HelloService0" class="cn.java.test.aop.aspect.Aspect4HelloService1" />
        <bean id="aspect4HelloService1" class="cn.java.test.aop.aspect.Aspect4HelloService2" />
        
        <aop:config>
            <aop:aspect id="aspectId_0" ref="aspect4HelloService0">
                <aop:pointcut id="pointcutRefId_0" expression="execution(* cn.java.test.aop.beans.HelloServiceImpl1*.*(..))" /><!-- 定义切入点 -->
                <aop:before method="aspectMethodBefore" pointcut-ref="pointcutRefId_0" /> <!-- 定义报告接收者 -->
                <aop:after method="aspectMethodAfter" pointcut-ref="pointcutRefId_0" />
            </aop:aspect>
            <aop:aspect id="aspectId_1" ref="aspect4HelloService1">
                <aop:pointcut id="pointcutRefId_1" expression="execution(public void cn.java.test.aop.beans.HelloServiceImpl2.method1(..))" />
                <aop:before method="aspectMethodBefore" pointcut-ref="pointcutRefId_1" />
                <aop:after method="aspectMethodAfter" pointcut-ref="pointcutRefId_1" />
            </aop:aspect>
        </aop:config>
</beans>